<!–.. title: Python for Photonics
.. date: 2017-08-28 10:00:00 UTC-03:00
.. tags: 
.. link: 
.. description: 
.. hidetitle: True
-->

<div class="jumbotron" style="background-image: url(/images/labautobanner.png); background-size: 100%; opacity: 1.0; padding-bottom: 35%; padding-top: 0%;">
    <div class="container">
        <h1>Python for Photonics — tools for photonics researchers</h1>
        <p>Using Python in photonics and laboratory automation </p>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <p><a class="btn btn-primary btn-lg get-started" href="/hackathon/index.html" role="button">LabAutomation Hackathon »</a> <a class="btn btn-default btn-lg" href="/about/index.html" role="button">About Python4Photonics »</a></p>
        <!--<p><small>We are photonics researchers who feel passionate about Python and want to help you use it for your photonics needs</small></p> -->
    </div>
    <!--
    <div class="col-md-4" style="min-height: 230px;">
        <a class="twitter-timeline" data-lang="en" data-height="200" href="https://twitter.com/Python4Photonics">Tweets by Python4Photonics</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    -->
</div>
</div>
